<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="container-fluid">
  <div class="row">
    <div class="col"><h1>Administración de artículos</h1></div>
  </div>
  <div class="row">
    <app-tabla [vector]="vector" (eliminarObjeto)="eliminarObjeto($event)" (seleccionarObjeto)="seleccionarObjeto($event)"></app-tabla>
  </div>
  <br>
  <div class="row">
    <app-modificador [objeto]="objeto" (agregarObjeto)="agregarObjeto($event)" (modificarObjeto)="modificarObjeto($event)"></app-modificador>
  </div>
</div>

<router-outlet></router-outlet>
